[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-autoslug = "*"
django-cors-headers = "*"
django-fullclean = "*"
django-geojson = {extras = ["field"], version = "*"}
django-leaflet = "*"
django-leaflet-admin-list = "*"
django-markdownfield = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
drf-nested-routers = "*"
drf-yasg = "*"
pillow = "*"
psycopg2-binary = "*"
sorl-thumbnail = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
local = "python manage.py runserver"
