@layer base {
  @font-face {
    font-family: UnicaOne;
    src: url("assets/fonts/Unica_One.ttf") format("truetype");
  }

  @font-face {
    font-family: Vollkorn;
    src: url("assets/fonts/Vollkorn.ttf") format("truetype");
  }

  h1 {
    @apply font-mono uppercase text-neutral-400 mb-8 text-2xl;
  }

  h2 {
    @apply font-sans uppercase text-neutral-400 mb-6 text-xl;
  }
}
